In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Basics

In [ ]:
# Step 1: Import pandas
import pandas as pd

# Step 3: Load dataset (update path if different)
file_path = "/content/drive/MyDrive/Women's Apparel Business/Fashion Dataset.csv"
df = pd.read_csv(file_path)

# Step 4: Explore dataset
print("Shape of dataset:", df.shape)   # rows, columns
print("\nFirst 5 rows:\n", df.head())
print("\nColumn names:", df.columns)

# Step 5: Check for missing values
print("\nMissing Values:\n", df.isnull().sum())

# Step 6: Summary stats for numeric columns
print("\nSummary Stats:\n", df.describe())

# Step 7: Quick look at unique values
print("\nUnique brands:", df['brand'].nunique())
print("Unique colours:", df['colour'].nunique())
print("Unique product names:", df['name'].nunique())

Shape of dataset: (14330, 11)

First 5 rows:
    Unnamed: 0        p_id                                               name  \
0           0  17048614.0  Khushal K Women Black Ethnic Motifs Printed Ku...
1           1  16524740.0  InWeave Women Orange Solid Kurta with Palazzos...
2           2  16331376.0  Anubhutee Women Navy Blue Ethnic Motifs Embroi...
3           3  14709966.0  Nayo Women Red Floral Printed Kurta With Trous...
4           4  11056154.0   AHIKA Women Black & Green Printed Straight Kurta

    price     colour      brand  \
0  5099.0      Black  Khushal K
1  5899.0     Orange    InWeave
2  4899.0  Navy Blue  Anubhutee
3  3699.0        Red       Nayo
4  1350.0      Black      AHIKA

                                                 img  ratingCount  avg_rating  \
0  http://assets.myntassets.com/assets/images/170...       4522.0    4.418399
1  http://assets.myntassets.com/assets/images/165...       1081.0    4.119334
2  http://assets.myntassets.com/assets/images/163...       1752.0    4.161530
3  http://assets.myntassets.com/assets/images/147...       4113.0    4.088986
4  http://assets.myntassets.com/assets/images/110...      21274.0    3.978377

                                         description  \
0  Black printed Kurta with Palazzos with dupatta...
1  Orange solid Kurta with Palazzos with dupatta<...
2  Navy blue embroidered Kurta with Trousers with...
3  Red printed kurta with trouser and dupatta<br>...
4  Black and green printed straight kurta, has a ...

                                        p_attributes
0  {'Add-Ons': 'NA', 'Body Shape ID': '443,333,32...
1  {'Add-Ons': 'NA', 'Body Shape ID': '443,333,32...
2  {'Add-Ons': 'NA', 'Body Shape ID': '333,424', ...
3  {'Add-Ons': 'NA', 'Body Shape ID': '333,424', ...
4  {'Body Shape ID': '424', 'Body or Garment Size...

Column names: Index(['Unnamed: 0', 'p_id', 'name', 'price', 'colour', 'brand', 'img',
       'ratingCount', 'avg_rating', 'description', 'p_attributes'],
      dtype='object')

Missing Values:
 Unnamed: 0         0
p_id              18
name              18
price             18
colour            21
brand             18
img               18
ratingCount     7749
avg_rating      7749
description       18
p_attributes      18
dtype: int64

Summary Stats:
          Unnamed: 0          p_id         price   ratingCount   avg_rating
count  14330.000000  1.431200e+04  14312.000000   6581.000000  6581.000000
mean     456.998255  1.569151e+07   2964.229248    184.479410     4.101226
std      279.547902  3.153526e+06   2563.850645    782.501137     0.475633
min        0.000000  7.016600e+04    169.000000      1.000000     1.000000
25%      215.000000  1.413619e+07   1599.000000      9.000000     3.888889
50%      442.500000  1.638232e+07   2200.000000     23.000000     4.180822
75%      687.000000  1.808456e+07   3495.000000     80.000000     4.392857
max      989.000000  1.941576e+07  47999.000000  21274.000000     5.000000

Unique brands: 1022
Unique colours: 49
Unique product names: 13882

lowercasing the values

In [ ]:
import pandas as pd
import re
import nltk

# Download required nltk resources
nltk.download('punkt')
nltk.download('punkt_tab')
nltk.download('wordnet')
nltk.download('stopwords')

from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer

# Load dataset
file_path = "/content/drive/MyDrive/Women's Apparel Business/Fashion Dataset.csv"
df = pd.read_csv(file_path)

# Initialize NLP tools
stop_words = set(stopwords.words('english'))
stemmer = PorterStemmer()
lemmatizer = WordNetLemmatizer()

# Preprocessing function
def clean_text(text, do_stem=True, do_lemma=True):
    if pd.isnull(text):
        return ""
    # Lowercase
    text = text.lower()
    # Remove punctuation, numbers, special characters
    text = re.sub(r'[^a-z\s]', '', text)
    # Tokenize
    words = nltk.word_tokenize(text)
    # Remove stopwords
    words = [w for w in words if w not in stop_words]
    # Apply stemming
    if do_stem:
        words = [stemmer.stem(w) for w in words]
    # Apply lemmatization
    if do_lemma:
        words = [lemmatizer.lemmatize(w) for w in words]
    return " ".join(words)

# Apply cleaning to textual columns
text_columns = ['name', 'colour', 'brand', 'description']
for col in text_columns:
    df[col] = df[col].astype(str).apply(clean_text)

# Preview processed data
print("âœ… Preprocessing complete!")
print(df.head())

# Save cleaned dataset back to Drive
output_path = "/content/drive/MyDrive/Women's Apparel Business/Fashion Dataset Cleaned.csv"
df.to_csv(output_path, index=False)
print(f"ðŸ“‚ Cleaned dataset saved to: {output_path}")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

âœ… Preprocessing complete!
   Unnamed: 0        p_id                                               name  \
0           0  17048614.0  khushal k woman black ethnic motif print kurta...
1           1  16524740.0  inweav woman orang solid kurta palazzo floral ...
2           2  16331376.0  anubhute woman navi blue ethnic motif embroid ...
3           3  14709966.0  nayo woman red floral print kurta trouser dupatta
4           4  11056154.0       ahika woman black green print straight kurta

    price     colour      brand  \
0  5099.0      black  khushal k
1  5899.0      orang     inweav
2  4899.0  navi blue   anubhute
3  3699.0        red       nayo
4  1350.0      black      ahika

                                                 img  ratingCount  avg_rating  \
0  http://assets.myntassets.com/assets/images/170...       4522.0    4.418399
1  http://assets.myntassets.com/assets/images/165...       1081.0    4.119334
2  http://assets.myntassets.com/assets/images/163...       1752.0    4.161530
3  http://assets.myntassets.com/assets/images/147...       4113.0    4.088986
4  http://assets.myntassets.com/assets/images/110...      21274.0    3.978377

                                         description  \
0  black print kurta palazzo dupatta br br b kurt...
1  orang solid kurta palazzo dupattabrbrbkurta de...
2  navi blue embroid kurta trouser dupatta br br ...
3  red print kurta trouser dupattabrbkurta design...
4  black green print straight kurta nitch round n...

                                        p_attributes
0  {'Add-Ons': 'NA', 'Body Shape ID': '443,333,32...
1  {'Add-Ons': 'NA', 'Body Shape ID': '443,333,32...
2  {'Add-Ons': 'NA', 'Body Shape ID': '333,424', ...
3  {'Add-Ons': 'NA', 'Body Shape ID': '333,424', ...
4  {'Body Shape ID': '424', 'Body or Garment Size...
ðŸ“‚ Cleaned dataset saved to: /content/drive/MyDrive/Women's Apparel Business/Fashion Dataset Cleaned.csv

Which words appear the most-what women wear?

In [ ]:
import pandas as pd
from collections import Counter

# Load the cleaned dataset
path = "/content/drive/MyDrive/Women's Apparel Business/Fashion Dataset Cleaned.csv"
df = pd.read_csv(path)

total_rows = len(df)

# Tokenize words from the 'name' column
all_words = []
row_counts = {}

for idx, text in enumerate(df['name'].astype(str)):
    words = text.split()
    unique_words = set(words)  # to count row-wise appearances
    all_words.extend(words)
    for w in unique_words:
        row_counts[w] = row_counts.get(w, 0) + 1

# Word frequency across all rows
word_freq = Counter(all_words)

# Create dataframe for ranking
word_rank = pd.DataFrame({
    'word': list(word_freq.keys()),
    'total_count': list(word_freq.values()),          # total appearances
    'row_count': [row_counts[w] for w in word_freq]   # number of rows it appears in
})

# Add ratio & percentage
word_rank['row_ratio'] = word_rank['row_count'] / total_rows
word_rank['row_percentage'] = word_rank['row_ratio'] * 100

# Sort by frequency
word_rank = word_rank.sort_values(by="total_count", ascending=False).reset_index(drop=True)

# Add rank column
word_rank['rank'] = word_rank.index + 1

# Reorder columns for clarity
word_rank = word_rank[['rank', 'word', 'total_count', 'row_count', 'row_ratio', 'row_percentage']]

# Show top 20
print(word_rank.head(100))

# Save ranked words to CSV
output_path = "/content/drive/MyDrive/Women's Apparel Business/Word_Rankings.csv"
word_rank.to_csv(output_path, index=False)
print(f"ðŸ“‚ Word rankings with percentages saved to: {output_path}")

    rank    word  total_count  row_count  row_ratio  row_percentage
0      1   woman         9206       9157   0.639009       63.900907
1      2   print         3367       3339   0.233008       23.300768
2      3    blue         3211       3197   0.223098       22.309839
3      4   solid         2565       2564   0.178925       17.892533
4      5   black         2254       2252   0.157153       15.715283
..   ...     ...          ...        ...        ...             ...
95    96    teal          207        207   0.014445        1.444522
96    97  thread          207        203   0.014166        1.416609
97    98  tailor          205        205   0.014306        1.430565
98    99  mitera          204        204   0.014236        1.423587
99   100    look          204        204   0.014236        1.423587

[100 rows x 6 columns]
ðŸ“‚ Word rankings with percentages saved to: /content/drive/MyDrive/Women's Apparel Business/Word_Rankings.csv

Which words occur frequently together

In [ ]:
import pandas as pd
from collections import Counter
from itertools import combinations

# Load cleaned dataset
path = "/content/drive/MyDrive/Women's Apparel Business/Fashion Dataset Cleaned.csv"
df = pd.read_csv(path)

total_rows = len(df)

# Store co-occurrence counts
pair_counts = Counter()

for text in df['name'].astype(str):
    words = text.split()
    unique_words = set(words)  # avoid duplicate counts in one row

    # Exclude "woman" from analysis
    if "woman" in unique_words:
        unique_words.remove("woman")

    # Generate word pairs for this row
    for combo in combinations(sorted(unique_words), 2):
        pair_counts[combo] += 1

# Convert to DataFrame
pair_df = pd.DataFrame(pair_counts.items(), columns=['word_pair', 'row_count'])

# Compute row ratio & percentage
pair_df['row_ratio'] = pair_df['row_count'] / total_rows
pair_df['row_percentage'] = pair_df['row_ratio'] * 100

# Split pairs into two columns
pair_df[['word1', 'word2']] = pd.DataFrame(pair_df['word_pair'].tolist(), index=pair_df.index)

# Reorder columns
pair_df = pair_df[['word1', 'word2', 'row_count', 'row_ratio', 'row_percentage']]

# Sort by frequency
pair_df = pair_df.sort_values(by='row_count', ascending=False).reset_index(drop=True)

# Show top 20 co-occurring word pairs
print(pair_df.head(20))

# Save results
output_path = "/content/drive/MyDrive/Women's Apparel Business/Word_CoOccurrences.csv"
pair_df.to_csv(output_path, index=False)
print(f"ðŸ“‚ Co-occurring word pairs with row percentages saved to: {output_path}")

      word1       word2  row_count  row_ratio  row_percentage
0    cotton        pure       1007   0.070272        7.027216
1      blue        navi        900   0.062805        6.280530
2     blous     lehenga        759   0.052966        5.296581
3      blue       print        757   0.052826        5.282624
4     print       white        748   0.052198        5.219819
5   dupatta     lehenga        745   0.051989        5.198883
6    ethnic       motif        710   0.049546        4.954641
7     blous     dupatta        702   0.048988        4.898814
8   dupatta     embroid        680   0.047453        4.745290
9       fit        jean        677   0.047244        4.724355
10    dress      materi        632   0.044103        4.410328
11     blue        jean        632   0.044103        4.410328
12   floral       print        598   0.041731        4.173064
13     blue         fit        587   0.040963        4.096301
14    print         top        575   0.040126        4.012561
15  lehenga    unstitch        575   0.040126        4.012561
16    black       print        573   0.039986        3.998604
17  lehenga  semistitch        564   0.039358        3.935799
18   materi    unstitch        558   0.038939        3.893929
19    dress    unstitch        555   0.038730        3.872994
ðŸ“‚ Co-occurring word pairs with row percentages saved to: /content/drive/MyDrive/Women's Apparel Business/Word_CoOccurrences.csv

3 words occuring together

In [ ]:
import pandas as pd
from collections import Counter
from itertools import combinations

# Load cleaned dataset
path = "/content/drive/MyDrive/Women's Apparel Business/Fashion Dataset Cleaned.csv"
df = pd.read_csv(path)

total_rows = len(df)

# Store trigram counts
trigram_counts = Counter()

for text in df['name'].astype(str):
    words = text.split()
    unique_words = set(words)  # avoid duplicates in the same row

    # Exclude "woman" from analysis
    if "woman" in unique_words:
        unique_words.remove("woman")

    # Generate all possible 3-word combinations
    for combo in combinations(sorted(unique_words), 3):
        trigram_counts[combo] += 1

# Convert to DataFrame
trigram_df = pd.DataFrame(trigram_counts.items(), columns=['word_trigram', 'row_count'])

# Compute ratio & percentage
trigram_df['row_ratio'] = trigram_df['row_count'] / total_rows
trigram_df['row_percentage'] = trigram_df['row_ratio'] * 100

# Split trigram into 3 columns
trigram_df[['word1', 'word2', 'word3']] = pd.DataFrame(trigram_df['word_trigram'].tolist(), index=trigram_df.index)

# Reorder columns
trigram_df = trigram_df[['word1', 'word2', 'word3', 'row_count', 'row_ratio', 'row_percentage']]

# Sort by frequency
trigram_df = trigram_df.sort_values(by='row_count', ascending=False).reset_index(drop=True)

# Show top 20 trigrams
print(trigram_df.head(20))

# Save results
output_path = "/content/drive/MyDrive/Women's Apparel Business/Word_Trigrams.csv"
trigram_df.to_csv(output_path, index=False)
print(f"ðŸ“‚ Trigrams with row percentages saved to: {output_path}")

      word1       word2       word3  row_count  row_ratio  row_percentage
0     blous     dupatta     lehenga        700   0.048849        4.884857
1     dress      materi    unstitch        555   0.038730        3.872994
2     blous     lehenga    unstitch        554   0.038660        3.866015
3   dupatta     lehenga    unstitch        536   0.037404        3.740405
4     blous     dupatta    unstitch        521   0.036357        3.635729
5     blous     lehenga  semistitch        507   0.035380        3.538032
6   dupatta     lehenga  semistitch        491   0.034264        3.426378
7     blous     dupatta  semistitch        476   0.033217        3.321703
8   lehenga  semistitch    unstitch        469   0.032729        3.272854
9     blous  semistitch    unstitch        457   0.031891        3.189114
10     blue         fit        jean        434   0.030286        3.028611
11  dupatta  semistitch    unstitch        434   0.030286        3.028611
12   cotton       print        pure        409   0.028542        2.854152
13      fit        jean  stretchabl        362   0.025262        2.526169
14    blous     embroid     lehenga        333   0.023238        2.323796
15  dupatta     embroid     lehenga        327   0.022819        2.281926
16     blue        jean  stretchabl        313   0.021842        2.184229
17    blous     dupatta     embroid        310   0.021633        2.163294
18   ethnic       motif       print        302   0.021075        2.107467
19      fit     highris        jean        290   0.020237        2.023726
ðŸ“‚ Trigrams with row percentages saved to: /content/drive/MyDrive/Women's Apparel Business/Word_Trigrams.csv

To identify clothes, print the 500 most occuring words

In [ ]:
import pandas as pd
from collections import Counter
import re

# Load dataset
path = "/content/drive/MyDrive/Women's Apparel Business/Fashion Dataset Cleaned.csv"
df = pd.read_csv(path)

# Clean and tokenize words from 'name' column
all_words = []
for text in df['name'].dropna().astype(str):
    words = re.findall(r'\b\w+\b', text.lower())  # extract words
    all_words.extend(words)

# Count word frequencies
word_counts = Counter(all_words)

# Get top 500 most common words
top_500_words = [word for word, count in word_counts.most_common(500)]

# Show first 50 to check
print(top_500_words[:500])

# Save full list
print("\nTop 500 words collected into 'top_500_words' list.")

['woman', 'print', 'blue', 'solid', 'black', 'dupatta', 'white', 'green', 'top', 'pink', 'cotton', 'embroid', 'fit', 'pure', 'trouser', 'red', 'skirt', 'unstitch', 'jean', 'sare', 'floral', 'jacket', 'lehenga', 'kurta', 'ethnic', 'navi', 'yellow', 'blous', 'design', 'grey', 'jumpsuit', 'motif', 'crop', 'dress', 'highris', 'palazzo', 'regular', 'beig', 'semistitch', 'materi', 'goldton', 'flare', 'silk', 'maroon', 'short', 'sweatshirt', 'stripe', 'basic', 'woven', 'stretchabl', 'orang', 'straight', 'alin', 'brown', 'shrug', 'denim', 'embellish', 'mustard', 'purpl', 'work', 'roadster', 'girl', 'sassafra', 'wear', 'lifestyl', 'skinni', 'peachcolour', 'pleat', 'readi', 'sequin', 'slim', 'kurti', 'zari', 'tokyo', 'talki', 'fade', 'hood', 'set', 'longlin', 'mango', 'oliv', 'style', 'creation', 'clora', 'urban', 'pullov', 'neck', 'maxi', 'blend', 'light', 'golden', 'front', 'coord', 'colourblock', 'thread', 'teal', 'fashion', 'tailor', 'look', 'mitera', 'sleev', 'hm', 'clean', 'check', 'mini', 'anouk', 'offwhit', 'open', 'bazaar', 'tunic', 'pantaloon', 'self', 'banarasi', 'midris', 'georgett', 'creamcolour', 'pack', 'distress', 'dressberri', 'leg', 'geometr', 'detail', 'wide', 'sangria', 'midi', 'knit', 'culott', 'chikankari', 'vero', 'burgundi', 'multicolour', 'vishudh', 'moda', 'plu', 'jogger', 'choli', 'kalini', 'tieup', 'wash', 'sea', 'shirt', 'sweater', 'turquois', 'readiprint', 'blazer', 'soch', 'forev', 'patti', 'rust', 'size', 'pad', 'got', 'ta', 'high', 'art', 'lightweight', 'cardigan', 'street', 'biba', 'ruffl', 'studio', 'bandhani', 'yoke', 'shawl', 'bell', 'max', 'wrap', 'magenta', 'mast', 'harbour', 'collar', 'rib', 'bostreet', 'mirror', 'charcoal', 'lavend', 'coral', 'heavi', 'playsuit', 'herenow', 'fabindia', 'knee', 'zalora', 'silverton', 'pencil', 'bomber', 'relax', 'hous', 'inddu', 'organza', 'melang', 'parallel', 'gracit', 'net', 'desi', 'w', 'co', 'pari', 'satin', 'fill', 'varanga', 'bhama', 'belt', 'safaa', 'shae', 'tie', 'berrylush', 'goldcolour', 'mildli', 'peopl', 'loo', 'rangmanch', 'plus', 'saadgi', 'sporti', 'alsac', 'lorrain', 'jaipur', 'athena', 'jc', 'chiffon', 'fablestreet', 'sport', 'liba', 'mandarin', 'dye', 'kassual', 'miss', 'indo', 'era', 'gold', 'peplum', 'casual', 'chase', 'collect', 'anarkali', 'sustain', 'linen', 'campu', 'sutra', 'lace', 'crepe', 'star', 'tshirt', 'global', 'trendyol', 'stylus', 'biker', 'block', 'dy', 'pataudi', 'length', 'rayon', 'kneelength', 'fuchsia', 'hrx', 'hrithik', 'roshan', 'taper', 'acryl', 'made', 'measur', 'puffer', 'lime', 'layer', 'viscos', 'selfdesign', 'nakd', 'mauv', 'pant', 'smock', 'divastri', 'soundarya', 'coutur', 'velvet', 'faballey', 'tag', 'salwar', 'london', 'empir', 'stylish', 'low', 'bootcut', 'chhabra', 'hem', 'easi', 'quilt', 'oxolloxo', 'ethnovogu', 'sharara', 'taavi', 'indya', 'levi', 'miaz', 'new', 'peach', 'foil', 'quotient', 'waist', 'smart', 'gorgeou', 'fli', 'machin', 'mall', 'outdoor', 'patrorna', 'kanjeevaram', 'vastranand', 'singlebreast', 'shoulder', 'stun', 'slit', 'hand', 'zola', 'puff', 'kid', 'halter', 'serum', 'chemistri', 'state', 'akkriti', 'chanderi', 'tier', 'comfort', 'fusion', 'bead', 'stone', 'offshould', 'neudi', 'border', 'trend', 'rose', 'anim', 'weav', 'allen', 'solli', 'polka', 'dot', 'rise', 'nayo', 'kvsfab', 'color', 'chic', 'harpa', 'rapiddri', 'n', 'slash', 'missguid', 'suta', 'inweav', 'van', 'heusen', 'accordion', 'chkokko', 'windcheat', 'leheriya', 'silver', 'dolc', 'crudo', 'boyfriend', 'mafadeni', 'charukr', 'pothi', 'keyhol', 'handloom', 'mont', 'carlo', 'panchhi', 'ada', 'sheer', 'super', 'zink', 'jacquard', 'poli', 'classic', 'junip', 'back', 'rasa', 'one', 'dusti', 'kook', 'keech', 'american', 'capri', 'shaili', 'warthi', 'ent', 'ahalyaa', 'scorpiu', 'cottinfab', 'rute', 'cigarett', 'ahika', 'panel', 'button', 'aurelia', 'sleeveless', 'formal', 'iki', 'villa', 'cream', 'harvard', 'cloth', 'label', 'honey', 'mid', 'cargo', 'land', 'bitiya', 'weaver', 'poncho', 'kalt', 'anayna', 'abstract', 'v', 'mayra', 'pretti', 'run', 'puma', 'side', 'ishin', 'fashor', 'vneck', 'fab', 'over', 'showoff', 'anubhute', 'coffe', 'round', 'blouson', 'mark', 'spencer', 'eagl', 'outfitt', 'highli', 'freakin', 'mode', 'malhaar', 'cabl', 'asymmetr', 'finish', 'highlow', 'rare', 'ruch', 'khaki', 'go', 'peg', 'kalamkari', 'mf', 'amor', 'parka', 'paisley', 'ikat', 'vest', 'deep', 'rareism', 'broadstar', 'pepe', 'cycl', 'uf', 'aarika', 'basket', 'myshka', 'janasya', 'tank', 'darzi', 'bardot', 'ginger', 'fire', 'legaci', 'jatriqq', 'jansi', 'woolen', 'netram', 'rajnandini', 'dhoti', 'antheaa', 'dri', 'bebe', 'mom', 'camouflag', 'readymad', 'redround', 'kaftan', 'indigo', 'sztori', 'long', 'charm', 'revolut', 'hypern', 'dupion', 'travel', 'buy', 'looknbook', 'wool', 'shingora', 'pashmoda', 'colour', 'bright', 'brocad']

Top 500 words collected into 'top_500_words' list.

name with only apparel name

In [ ]:
import pandas as pd
import re

# Load dataset
path = "/content/drive/MyDrive/Women's Apparel Business/Fashion Dataset Cleaned.csv"
df = pd.read_csv(path)

# Example list of apparel-related words (replace with your finalized list of top 500 / cleaned keywords)
apparel_keywords = [
    "dupatta","top","trouser","skirt","jean","sare","jacket","lehenga","kurta",
    "blous","jumpsuit","dress","palazzo","kurti","set","maxi","tunic","culott",
    "choli","shirt","sweater","blazer","cardigan","shawl","wrap","playsuit",
    "pencil","bomber","salwar","sharara","anarkali","tshirt","pant","smock",
    "coat","short","shrug","sweatshirt","leggings","gown","poncho","kaftan",
    "dhoti","vest","tank","jogger","hood","nightwear","pyjama","jumpsuit",
    "blouson","outfitt","poncho"
]

# Convert list to set for faster lookup
apparel_set = set(apparel_keywords)

def extract_apparel(text):
    if pd.isna(text):
        return ""
    words = re.findall(r'\b\w+\b', text.lower())  # tokenize
    apparel_words = [w for w in words if w in apparel_set]
    return " ".join(apparel_words)

# Apply function to create new column
df["apparel_name"] = df["name"].apply(extract_apparel)

# Save updated dataset
output_path = "/content/drive/MyDrive/Women's Apparel Business/Fashion Dataset With Apparel.csv"
df.to_csv(output_path, index=False)

print("âœ… New column 'apparel_name' created and dataset saved at:", output_path)

âœ… New column 'apparel_name' created and dataset saved at: /content/drive/MyDrive/Women's Apparel Business/Fashion Dataset With Apparel.csv

Now the Clothes and their frequency

In [ ]:
import pandas as pd
from collections import Counter
from nltk.util import ngrams
import nltk

# Download tokenizer (only once)
nltk.download('punkt')

# Load dataset
path = "/content/drive/MyDrive/Women's Apparel Business/Fashion Dataset With Apparel.csv"
df = pd.read_csv(path)

# Ensure apparel_name column exists
if 'apparel_name' not in df.columns:
    raise ValueError("The 'apparel_name' column is missing. Please create it first.")

# Tokenize the apparel_name column
df['tokens'] = df['apparel_name'].astype(str).apply(lambda x: nltk.word_tokenize(x.lower()))

# Flatten all tokens
all_tokens = [token for tokens in df['tokens'] for token in tokens]

# ---- UNIGRAMS ----
unigram_counts = Counter(all_tokens)
unigram_df = pd.DataFrame(unigram_counts.items(), columns=['Unigram', 'Frequency'])
unigram_df['Row_Percentage'] = unigram_df['Frequency'] / len(df) * 100
unigram_df = unigram_df.sort_values(by='Frequency', ascending=False)

# ---- BIGRAMS ----
all_bigrams = [bigram for tokens in df['tokens'] for bigram in ngrams(tokens, 2)]
bigram_counts = Counter(all_bigrams)
bigram_df = pd.DataFrame(bigram_counts.items(), columns=['Bigram', 'Frequency'])
bigram_df['Bigram'] = bigram_df['Bigram'].apply(lambda x: ' '.join(x))
bigram_df['Row_Percentage'] = bigram_df['Frequency'] / len(df) * 100
bigram_df = bigram_df.sort_values(by='Frequency', ascending=False)

# ---- TRIGRAMS ----
all_trigrams = [trigram for tokens in df['tokens'] for trigram in ngrams(tokens, 3)]
trigram_counts = Counter(all_trigrams)
trigram_df = pd.DataFrame(trigram_counts.items(), columns=['Trigram', 'Frequency'])
trigram_df['Trigram'] = trigram_df['Trigram'].apply(lambda x: ' '.join(x))
trigram_df['Row_Percentage'] = trigram_df['Frequency'] / len(df) * 100
trigram_df = trigram_df.sort_values(by='Frequency', ascending=False)

# Display top results
print("Top 20 Unigrams:")
print(unigram_df.head(50))
print("\nTop 20 Bigrams:")
print(bigram_df.head(50))
print("\nTop 20 Trigrams:")
print(trigram_df.head(50))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

Top 20 Unigrams:
       Unigram  Frequency  Row_Percentage
2      dupatta       2113       14.745290
6          top       1694       11.821354
3      trouser       1213        8.464759
7        skirt       1145        7.990230
31        jean       1058        7.383112
45        sare       1041        7.264480
14      jacket        985        6.873692
35     lehenga        982        6.852756
0        kurta        926        6.461968
24       blous        885        6.175855
37    jumpsuit        743        5.184927
30       dress        696        4.856943
1      palazzo        676        4.717376
29       short        571        3.984648
34  sweatshirt        546        3.810188
16         nan        418        2.916957
43       shrug        398        2.777390
9        kurti        294        2.051640
28        hood        284        1.981856
5          set        281        1.960921
19        maxi        228        1.591068
44       tunic        186        1.297976
36      culott        147        1.025820
46       choli        138        0.963015
32      jogger        138        0.963015
18       shirt        126        0.879274
42     sweater        126        0.879274
40      blazer        121        0.844382
49    cardigan        113        0.788555
39       shawl        106        0.739707
20        wrap        102        0.711793
38    playsuit         94        0.655967
33      pencil         90        0.628053
47      bomber         90        0.628053
4     anarkali         67        0.467551
25      tshirt         65        0.453594
13        pant         56        0.390789
21       smock         56        0.390789
10      salwar         53        0.369853
8      sharara         49        0.341940
48      poncho         30        0.209351
27     outfitt         27        0.188416
23     blouson         27        0.188416
26        vest         25        0.174459
22        tank         24        0.167481
12       dhoti         23        0.160502
11      kaftan         22        0.153524
41        coat         14        0.097697
15      pyjama          8        0.055827
17        gown          3        0.020935

Top 20 Bigrams:
               Bigram  Frequency  Row_Percentage
231     lehenga blous        759        5.296581
232     blous dupatta        701        4.891835
183   hood sweatshirt        213        1.486392
67         maxi skirt        208        1.451500
2       kurta trouser        201        1.402652
244   dupatta dupatta        171        1.193301
0       kurta palazzo        155        1.081647
229     lehenga choli        136        0.949058
3     trouser dupatta        135        0.942080
215        sare blous        103        0.718772
1     palazzo dupatta         91        0.635031
7           top skirt         89        0.621075
66       pencil skirt         85        0.593161
43          shirt top         84        0.586183
247     bomber jacket         78        0.544313
118   culott jumpsuit         75        0.523378
17        top palazzo         69        0.481507
4      anarkali kurta         60        0.418702
246       hood jacket         59        0.411724
136       top trouser         55        0.383810
58          jean jean         47        0.327983
214         sare sare         45        0.314027
16      kurti trouser         45        0.314027
91     jogger trouser         42        0.293091
230     choli dupatta         42        0.293091
42           wrap top         40        0.279135
5           kurta set         40        0.279135
92     culott trouser         38        0.265178
11    sharara dupatta         32        0.223308
44          smock top         30        0.209351
147      tshirt short         28        0.195394
15      kurta sharara         27        0.188416
146         top short         27        0.188416
68         wrap skirt         26        0.181438
46        blouson top         26        0.181438
59        jogger jean         26        0.181438
45           tank top         24        0.167481
112       set palazzo         23        0.160502
216       salwar sare         22        0.153524
6       kurta dupatta         22        0.153524
240       lehenga set         21        0.146546
21         dhoti pant         19        0.132589
48         kaftan top         16        0.111654
269  cardigan sweater         16        0.111654
79          set short         16        0.111654
223      salwar dress         15        0.104676
13      kurti sharara         14        0.097697
22      kurti palazzo         14        0.097697
270      sweater vest         12        0.083740
117    smock jumpsuit         12        0.083740

Top 20 Trigrams:
                     Trigram  Frequency  Row_Percentage
107    lehenga blous dupatta        700        4.884857
1      kurta trouser dupatta        121        0.844382
0      kurta palazzo dupatta         83        0.579204
106    lehenga choli dupatta         42        0.293091
102        salwar sare blous         22        0.153524
7      kurta sharara dupatta         19        0.132589
8      kurti trouser dupatta         13        0.090719
6      kurti sharara dupatta         10        0.069784
42           maxi wrap skirt          7        0.048849
16        top palazzo jacket          7        0.048849
13     kurti palazzo dupatta          6        0.041870
64          tshirt short set          6        0.041870
60            top dhoti pant          6        0.041870
9     anarkali kurta dupatta          6        0.041870
43           wrap maxi skirt          5        0.034892
5        kurta skirt dupatta          5        0.034892
109        lehenga choli set          5        0.034892
66             top skirt set          5        0.034892
68          tunic dhoti pant          4        0.027913
21          kurta dhoti pant          4        0.027913
3          kurta set dupatta          4        0.027913
78         top palazzo shrug          4        0.027913
15        dhoti pant dupatta          3        0.020935
11       kurti kurta trouser          3        0.020935
47      dress jogger trouser          3        0.020935
39        maxi lehenga skirt          3        0.020935
75             top short set          3        0.020935
82            pant top skirt          3        0.020935
115       hood bomber jacket          3        0.020935
101          sare sare blous          3        0.020935
117  outfitt hood sweatshirt          3        0.020935
12          kurti dhoti pant          3        0.020935
55   outfitt culott jumpsuit          2        0.013957
38          jean jogger jean          2        0.013957
114       sare lehenga blous          2        0.013957
92           top skirt shrug          2        0.013957
85           top palazzo set          2        0.013957
73     tshirt jogger trouser          2        0.013957
58           top trouser set          2        0.013957
95        top trouser jacket          2        0.013957
65           shirt short set          2        0.013957
74           shirt skirt set          2        0.013957
29      kurti salwar dupatta          2        0.013957
27      kurta trouser jacket          2        0.013957
19        kurta pant dupatta          2        0.013957
17       top palazzo dupatta          2        0.013957
22    anarkali kurta trouser          2        0.013957
4        top sharara dupatta          2        0.013957
105          kurta set dress          2        0.013957
110     salwar lehenga blous          2        0.013957

Colour Frequency and Max Rating Count

In [ ]:
import pandas as pd

# File path
path = "/content/drive/MyDrive/Women's Apparel Business/Fashion Dataset With Apparel.csv"

# Load dataset
df = pd.read_csv(path)

# Drop rows with missing colour or ratingCount
df = df.dropna(subset=["colour", "ratingCount"])

# Ensure ratingCount is numeric
df["ratingCount"] = pd.to_numeric(df["ratingCount"], errors="coerce").fillna(0)

# Q1: Frequency of each colour
colour_frequency = df["colour"].value_counts().reset_index()
colour_frequency.columns = ["colour", "frequency"]

# Q2: Review count per colour
colour_reviews = df.groupby("colour")["ratingCount"].sum().reset_index()
colour_reviews.columns = ["colour", "total_reviews"]

# Merge both results
colour_stats = pd.merge(colour_frequency, colour_reviews, on="colour")

# Sort by frequency first, then reviews (optional)
colour_stats = colour_stats.sort_values(by=["frequency", "total_reviews"], ascending=False)

# Print all results
print("Colour Frequency & Review Count (All Colours):")
print(colour_stats.to_string(index=False))

Colour Frequency & Review Count (All Colours):
        colour  frequency  total_reviews
         black        958       253745.0
          blue        824       135203.0
          pink        526        96327.0
         white        522       101298.0
         green        480        81098.0
     navi blue        446        85748.0
           red        328        53785.0
        maroon        253        47239.0
          grey        252        25043.0
          beig        188        21172.0
       mustard        180        41630.0
        yellow        173        45862.0
          oliv        145        30186.0
         peach        127        18962.0
         purpl        123        13528.0
         orang        111         9188.0
         brown         96        15560.0
      burgundi         90        26770.0
          teal         89        16836.0
         multi         62         8072.0
          rust         59         7745.0
         cream         57         6793.0
     sea green         52         7453.0
 turquois blue         50         3319.0
        lavend         46         4656.0
          gold         45         2261.0
      charcoal         41         2280.0
         coral         39        15201.0
       magenta         38         5374.0
       fuchsia         30        13225.0
          mauv         27         6067.0
    lime green         25         3477.0
          rose         19         4761.0
   grey melang         18         1032.0
         khaki         14          521.0
fluoresc green         11          540.0
   coffe brown          9          256.0
          taup          8          739.0
        silver          8          135.0
          nude          3          625.0
        violet          3          164.0
           tan          3           25.0
   camel brown          1           93.0
        assort          1           59.0
        copper          1            6.0

attributes break down - lowercasing the attributes and lowercasing

In [ ]:
#import pandas as pd

#df = pd.read_csv(filepath)
#filepath = ''

#attributes = df.getdict('p_attributes')

attributes = {"Name": "Deepankar", "AGE": 21, "CITY": "Delhi"}

#this is for only lowercasing the keys
attributes1 = {k.lower(): v for k,v in attributes.items()}
print(attributes1)


#this is for lowercasing both the the keys and the values
#attributes2 = {k.lower(): v.lower() for k, v in attributes.items()}
#print(attributes2)


#attributes2 = {k.lower(): (v.lower() if isinstance(v, str) else v) for k, v in data.items()}
#print(attributes2)

attributes2 = {k.lower() : (v.lower() if isinstance(v, str) else v) for k, v in attributes.items()}
print(attributes2)

{'name': 'Deepankar', 'age': 21, 'city': 'Delhi'}
{'name': 'deepankar', 'age': 21, 'city': 'delhi'}

lowercase the attributes

In [ ]:
import pandas as pd
import ast

# File path
path = "/content/drive/MyDrive/Women's Apparel Business/Fashion Dataset With Apparel.csv"

# Load CSV
df = pd.read_csv(path)

# Function to lowercase dict keys & values
def lowercase_dict(attr_str):
    try:
        attr_dict = ast.literal_eval(attr_str) if isinstance(attr_str, str) else attr_str
        if isinstance(attr_dict, dict):
            return {str(k).lower(): str(v).lower() for k, v in attr_dict.items()}
        return {}
    except Exception:
        return {}

# Apply and create new column
df['attributes'] = df['p_attributes'].apply(lowercase_dict)

# Save back to same CSV
df.to_csv(path, index=False)

print("âœ… File updated successfully with new 'attributes' column and saved at:", path)

âœ… File updated successfully with new 'attributes' column and saved at: /content/drive/MyDrive/Women's Apparel Business/Fashion Dataset With Apparel.csv

Ranking the attributes

In [ ]:
import pandas as pd
import ast

# Load dataset
path = "/content/drive/MyDrive/Women's Apparel Business/Fashion Dataset With Apparel.csv"
df = pd.read_csv(path)

# Convert attributes column to lowercase safely
df['attributes'] = df['attributes'].astype(str).str.lower()

# Function to safely parse dictionary strings
def parse_dict(attr_str):
    try:
        return ast.literal_eval(attr_str)
    except (ValueError, SyntaxError):
        return {}

# Parse dictionary in each row
df['attributes_dict'] = df['attributes'].apply(parse_dict)

# Collect all keys
all_keys = []
for d in df['attributes_dict']:
    all_keys.extend(list(d.keys()))

# Count frequencies of keys
attribute_freq = pd.Series(all_keys).value_counts().reset_index()
attribute_freq.columns = ['attribute_key', 'count']

# Add percentage column (relative to total rows)
total_rows = len(df)
attribute_freq['percentage'] = (attribute_freq['count'] / total_rows) * 100

# Display top 20 attributes
print(attribute_freq.head(50))

# Save to CSV
output_path = "/content/drive/MyDrive/Women's Apparel Business/Attribute_Key_Frequency.csv"
attribute_freq.to_csv(output_path, index=False)

print(f"\nAttribute key frequency ranking saved to: {output_path}")

            attribute_key  count  percentage
0                occasion  13213   92.205164
1               wash care  13103   91.437544
2             sustainable  13010   90.788555
3    body or garment size  10959   76.475925
4                 pattern  10506   73.314724
5                  fabric  10426   72.756455
6   print or pattern type  10037   70.041870
7                 closure   8528   59.511514
8       number of pockets   8443   58.918353
9                  length   8287   57.829728
10             main trend   7901   55.136078
11          sleeve length   7807   54.480112
12                   type   7636   53.286811
13              character   6869   47.934403
14        surface styling   6322   44.117237
15                   neck   6321   44.110258
16          body shape id   6286   43.866015
17             weave type   5351   37.341242
18                add-ons   5173   36.099093
19                hemline   5048   35.226797
20          ornamentation   4734   33.035590
21          multipack set   4362   30.439637
22                wedding   4220   29.448709
23              technique   3624   25.289602
24               fabric 2   3481   24.291696
25         sleeve styling   3451   24.082345
26                 lining   3060   21.353803
27                    fit   3032   21.158409
28               features   2961   20.662945
29           transparency   2880   20.097697
30            fabric type   2828   19.734822
31         bottom pattern   2794   19.497558
32            care for me   2756   19.232380
33             waist rise   2484   17.334264
34      center front open   2213   15.443126
35            slit detail   2197   15.331472
36            top pattern   2159   15.066294
37         dupatta fabric   2148   14.989532
38         dupatta border   2148   14.989532
39        dupatta pattern   2139   14.926727
40                  sport   1995   13.921842
41             technology   1995   13.921842
42         brand fit name   1976   13.789253
43          knit or woven   1956   13.649686
44              waistband   1941   13.545010
45          blouse fabric   1881   13.126308
46                 border   1873   13.070482
47          bottom fabric   1811   12.637823
48                 stitch   1625   11.339846
49                dupatta   1512   10.551291

Attribute key frequency ranking saved to: /content/drive/MyDrive/Women's Apparel Business/Attribute_Key_Frequency.csv

VERY IMPORTANT CODE BELOW

for each key find the value with the maximum occurance

pattern

In [ ]:
import pandas as pd
import ast

# Example: assume df has columns ['attributes', 'ratingCount', 'avg_rating']

# If attributes are strings like "{'key': 'value', ...}", safely convert to dict
df['attributes'] = df['attributes'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

def analyze_key(df, key):
    # Extract the value for the given key from attributes dict
    df['attr_value'] = df['attributes'].apply(lambda x: x.get(key, None))

    # Group by that key's value
    result = df.groupby('attr_value').agg(
        frequency=('attr_value', 'count'),
        total_ratingCount=('ratingCount', 'sum'),
        avg_of_avgRating=('avg_rating', 'mean')
    ).reset_index()

    # Rank by total_ratingCount
    result = result.sort_values(by='total_ratingCount', ascending=False).reset_index(drop=True)

    return result

# Example usage:
result = analyze_key(df, 'pattern')
print(result)

       attr_value  frequency  total_ratingCount  avg_of_avgRating
0           solid       4568           377585.0          4.113941
1         printed       2970           325589.0          4.108126
2    woven design        560            28523.0          4.173461
3         striped        477            27382.0          4.103750
4     self design        491            26606.0          4.123608
5     embroidered        698            26187.0          4.128647
6         checked        198            15881.0          4.114544
7     yoke design         48            12212.0          4.145740
8     embellished        165            10518.0          3.977014
9   colourblocked        192             5825.0          4.214125
10         washed         28             3830.0          4.298065
11           dyed         60             2991.0          4.029270
12         ribbed         27             1666.0          4.308060
13     hem design         21              534.0          3.979945
14          faded          3              105.0          4.088787

fabric

In [ ]:
import pandas as pd
import ast

# Example: assume df has columns ['attributes', 'ratingCount', 'avg_rating']

# If attributes are strings like "{'key': 'value', ...}", safely convert to dict
df['attributes'] = df['attributes'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

def analyze_key(df, key):
    # Extract the value for the given key from attributes dict
    df['attr_value'] = df['attributes'].apply(lambda x: x.get(key, None))

    # Group by that key's value
    result = df.groupby('attr_value').agg(
        frequency=('attr_value', 'count'),
        total_ratingCount=('ratingCount', 'sum'),
        avg_of_avgRating=('avg_rating', 'mean')
    ).reset_index()

    # Rank by total_ratingCount
    result = result.sort_values(by='total_ratingCount', ascending=False).reset_index(drop=True)

    return result

# Example usage:
result = analyze_key(df, 'fabric')
print(result)

             attr_value  frequency  total_ratingCount  avg_of_avgRating
0                cotton       3270           383357.0          4.110177
1             polyester       2666           189023.0          4.111610
2         viscose rayon       1356            85925.0          4.117371
3           pure cotton        634            51933.0          4.136144
4          cotton blend        509            33490.0          4.146642
5               acrylic        276            13041.0          4.265408
6          poly chiffon        138             4778.0          4.068204
7                fleece        105             3912.0          3.882179
8            silk blend        223             2976.0          4.180634
9              art silk         73             2334.0          4.212370
10                nylon        156             2300.0          4.113502
11                 liva         23             1850.0          4.289823
12        chanderi silk         11             1840.0          4.083324
13       poly georgette         38             1750.0          4.062244
14                 wool        145             1660.0          4.209358
15                  net        142             1514.0          4.124592
16             corduroy          7             1507.0          4.256478
17            georgette         28             1484.0          4.221012
18                modal         35             1023.0          4.062778
19           poly crepe         19              969.0          3.860703
20                linen         79              818.0          4.240579
21           polycotton         39              812.0          4.002847
22                   pu         22              807.0          3.836720
23                denim         25              798.0          3.957797
24                other         50              706.0          3.997971
25            poly silk         33              541.0          4.074377
26              leather         22              534.0          4.203111
27                 silk         44              298.0          4.093053
28          dupion silk          1              268.0          3.899254
29               velvet         15              260.0          4.248292
30          cotton silk         61              252.0          4.384116
31                crepe          4              202.0          3.919884
32              organza         31              169.0          4.074147
33                satin         19              165.0          4.108107
34              chiffon          1              150.0          4.366667
35          polyviscose          8              134.0          4.344889
36       organic cotton         18              119.0          3.941111
37               dupion          6              118.0          4.253367
38              brocade          6               86.0          4.033487
39              livaeco          1               47.0          4.170213
40            pure silk         30               39.0          4.059524
41             faux fur          4               22.0          3.848214
42             jacquard          4               13.0          4.287500
43           wool blend          1               12.0          3.500000
44                suede          9               12.0          4.000000
45               velour          2               10.0          4.200000
46  polyester pu coated          3                7.0          4.714286
47             elastane         16                5.0          4.800000
48              lyocell          1                0.0               NaN
49                 hemp          2                0.0               NaN
50           pure crepe          1                0.0               NaN
51             pashmina          1                0.0               NaN
52       pure georgette          1                0.0               NaN
53             raw silk          2                0.0               NaN
54    synthetic leather          3                0.0               NaN
55               tencel          3                0.0               NaN
56    viscose georgette          3                0.0               NaN
57                voile          1                0.0               NaN

occassion

In [ ]:
import pandas as pd
import ast

# Example: assume df has columns ['attributes', 'ratingCount', 'avg_rating']

# If attributes are strings like "{'key': 'value', ...}", safely convert to dict
df['attributes'] = df['attributes'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

def analyze_key(df, key):
    # Extract the value for the given key from attributes dict
    df['attr_value'] = df['attributes'].apply(lambda x: x.get(key, None))

    # Group by that key's value
    result = df.groupby('attr_value').agg(
        frequency=('attr_value', 'count'),
        total_ratingCount=('ratingCount', 'sum'),
        avg_of_avgRating=('avg_rating', 'mean')
    ).reset_index()

    # Rank by total_ratingCount
    result = result.sort_values(by='total_ratingCount', ascending=False).reset_index(drop=True)

    return result

# Example usage:
result = analyze_key(df, 'occasion')
print(result)

     attr_value  frequency  total_ratingCount  avg_of_avgRating
0        casual       7533           620713.0          4.106727
1         daily       1637           284039.0          4.140141
2       festive       1131           106656.0          4.109429
3        ethnic       1072            78269.0          4.066478
4   traditional        312            32627.0          4.027659
5        fusion         82            23407.0          4.127720
6         party        842            21860.0          4.096987
7        formal        101             8893.0          4.062832
8       western        218             3854.0          4.105223
9        sports        192             3774.0          4.281164
10         work         54              974.0          4.208229
11    maternity         16              249.0          3.946031
12      outdoor         23              162.0          4.042164

print or pattern type

In [ ]:
import pandas as pd
import ast

# Load dataset
path = "/content/drive/MyDrive/Women's Apparel Business/Fashion Dataset With Apparel.csv"
df = pd.read_csv(path)

# If attributes are strings like "{'key': 'value', ...}", safely convert to dict
df['attributes'] = df['attributes'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

def analyze_key(df, key):
    # Extract the value for the given key from attributes dict
    df['attr_value'] = df['attributes'].apply(lambda x: x.get(key, None))

    # Group by that key's value
    result = df.groupby('attr_value').agg(
        frequency=('attr_value', 'count'),
        total_ratingCount=('ratingCount', 'sum'),
        avg_of_avgRating=('avg_rating', 'mean')
    ).reset_index()

    # Rank by total_ratingCount
    result = result.sort_values(by='total_ratingCount', ascending=False).reset_index(drop=True)

    return result

# Example usage:
result = analyze_key(df, 'print or pattern type')
print(result)

            attr_value  frequency  total_ratingCount  avg_of_avgRating
0                solid       3928           359650.0          4.117127
1        ethnic motifs       1334           212609.0          4.139446
2               floral       1691           185149.0          4.089721
3            geometric        524            60360.0          4.142064
4              striped        388            18857.0          4.120842
5          self design        195            15571.0          4.112123
6              checked        182            14068.0          4.137189
7         woven design        164            12303.0          4.083014
8               washed         93            12047.0          4.380734
9          embellished        126            11090.0          4.088271
10            abstract        249             9937.0          4.150147
11            bandhani        113             8030.0          4.047461
12          typography        137             7031.0          4.285569
13          polka dots         72             6956.0          4.093783
14    vertical stripes         49             6713.0          4.159317
15              animal         50             5947.0          4.138423
16       colourblocked        172             5306.0          4.222529
17          camouflage         28             5304.0          4.262241
18             paisley         50             3974.0          4.324035
19             graphic         78             1843.0          4.279141
20           open knit         27             1727.0          4.220937
21            leheriya         38             1622.0          4.081319
22  horizontal stripes         19             1551.0          4.336925
23         tie and dye         49             1360.0          3.953223
24              ribbed         24             1143.0          4.329026
25      conversational         41              876.0          4.076442
26            textured          8              669.0          4.163876
27          cable knit         35              639.0          4.278092
28              quirky         12              629.0          4.052699
29               batik          8              594.0          3.919963
30              tribal          8              502.0          4.271934
31                  na          8              461.0          4.128468
32             chevron         12              427.0          3.923188
33           kalamkari         13              345.0          3.708535
34               warli          1              337.0          4.020772
35          brand logo         22              274.0          4.343580
36               ombre         10              135.0          3.824396
37               other         41               92.0          4.457848
38    humour and comic          9               90.0          4.364434
39         houndstooth          2               89.0          3.687342
40              boucle          2               69.0          4.043478
41   sequinned stripes          1               38.0          4.184211
42         embroidered          6               36.0          4.259868
43           superhero          2               32.0          4.281250
44        alphanumeric          4               14.0          4.104167
45             shimmer          3                5.0          2.600000
46  cartoon characters          1                0.0               NaN
47                dabu          1                0.0               NaN
48                bagh          1                0.0               NaN
49               ajrak          2                0.0               NaN
50              argyle          1                0.0               NaN
51           botanical          1                0.0               NaN
52           fair isle          2                0.0               NaN

type

In [ ]:
import pandas as pd
import ast

# Load dataset
path = "/content/drive/MyDrive/Women's Apparel Business/Fashion Dataset With Apparel.csv"
df = pd.read_csv(path)

# If attributes are strings like "{'key': 'value', ...}", safely convert to dict
df['attributes'] = df['attributes'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

def analyze_key(df, key):
    # Extract the value for the given key from attributes dict
    df['attr_value'] = df['attributes'].apply(lambda x: x.get(key, None))

    # Group by that key's value
    result = df.groupby('attr_value').agg(
        frequency=('attr_value', 'count'),
        total_ratingCount=('ratingCount', 'sum'),
        avg_of_avgRating=('avg_rating', 'mean')
    ).reset_index()

    # Rank by total_ratingCount
    result = result.sort_values(by='total_ratingCount', ascending=False).reset_index(drop=True)

    return result

# Print all the rows, not just a range like 1,2,3,4....96,97,98,99,100
pd.set_option("display.max_rows", None)  # show all rows
pd.set_option("display.max_columns", None)  # show all columns
pd.set_option("display.width", None)  # don't wrap columns
pd.set_option("display.max_colwidth", None)  # show long strings fully


# Example usage:
result = analyze_key(df, 'type')
print(result)

               attr_value  frequency  total_ratingCount  avg_of_avgRating
0                 regular        706           127957.0          4.149995
1                  a-line        474            44046.0          4.099310
2                pullover        705            38328.0          4.204729
3        regular trousers        466            34485.0          3.985318
4                      na        554            32468.0          3.994579
5          basic jumpsuit        570            31240.0          4.103201
6             shirt style         93            28004.0          4.133039
7              front-open        125            24701.0          4.074673
8                  flared        361            18856.0          4.097541
9            denim jacket        206            18496.0          4.325032
10      parallel trousers        207            16961.0          4.098146
11                 fitted        127            15083.0          4.164102
12                 peplum         64            15000.0          4.136594
13               banarasi        135            12746.0          4.151635
14        tailored jacket        258            11886.0          4.084708
15            kanjeevaram         46            10985.0          4.213680
16                   wrap         86            10557.0          3.995271
17         regular shorts        273             8915.0          4.061225
18          cinched waist         16             8723.0          4.161837
19                 pencil        106             6670.0          4.066506
20                blouson         32             5159.0          4.231468
21          padded jacket         98             5051.0          4.143652
22                 bomber         92             4530.0          4.151505
23                joggers         84             4374.0          4.138780
24           peg trousers         40             4201.0          3.902408
25            styled back         25             4174.0          4.244543
26                 empire         29             3956.0          4.106866
27                 cargos         23             3465.0          3.923860
28           denim shorts         82             3409.0          4.208495
29               high-low         12             3290.0          4.000289
30               cardigan        117             3033.0          4.185580
31     cigarette trousers         51             3015.0          3.978700
32               playsuit        155             2948.0          4.074790
33                 bardot         23             2843.0          4.308951
34          sporty jacket         87             2810.0          4.240584
35          sports shorts         94             2762.0          4.369384
36       culotte jumpsuit         82             2404.0          3.886183
37          puffer jacket         59             2388.0          4.141020
38                   tank         26             2146.0          4.393104
39       bootcut trousers         33             2019.0          4.265063
40               straight        131             1915.0          4.047745
41                   ikat          7             1819.0          3.985560
42        formal trousers          4             1623.0          4.215844
43               bralette         14             1536.0          4.474990
44         quilted jacket         47             1479.0          3.942174
45         capri jumpsuit         28             1355.0          4.085158
46               culottes         68             1310.0          4.040925
47                   maxi          5             1278.0          3.934535
48               bandhani         24             1226.0          3.871278
49                   boxy         14             1209.0          4.061042
50      open front jacket         69             1125.0          4.020460
51                 kaftan         18              996.0          3.949766
52                   cape          3              892.0          4.031857
53            block print         18              877.0          3.945430
54                  parka         26              698.0          4.380552
55                   tube          9              662.0          4.369815
56                  khadi          6              604.0          4.035108
57           biker shorts         43              481.0          4.126352
58                 poncho         30              439.0          4.571162
59            mysore silk          5              368.0          3.969126
60                   kota          7              352.0          3.713097
61           biker jacket         29              352.0          4.145695
62              baluchari          2              337.0          4.020772
63             maheshwari          2              237.0          3.957806
64                 tiered         21              168.0          4.096122
65                 kasavu          5              168.0          4.101190
66          bolero jacket          1              158.0          4.170886
67                 chinos          6              157.0          4.383945
68           sweater vest         14              138.0          4.433250
69                   muga          1              113.0          4.274336
70             bhagalpuri          6              112.0          3.400812
71                  tulip         12               89.0          3.192771
72                 tussar          8               86.0          3.774196
73         leather jacket          7               84.0          4.156421
74              hot pants         12               61.0          3.270543
75                 skorts         24               58.0          3.934921
76               leheriya          6               56.0          4.186275
77               chanderi         11               53.0          3.949282
78                   bagh          5               48.0          3.915416
79              jodhpuris          3               36.0          2.694444
80   drop crotch trousers          3               26.0          4.307692
81           cargo shorts          1               22.0          4.363636
82               paithani         11               19.0          4.182540
83                  taant          4               15.0          4.044643
84                balloon          1               15.0          3.200000
85            cape jacket          2               10.0          4.500000
86                 uppada          2               10.0          4.300000
87      anti fit trousers          1               10.0          4.000000
88                jamdani         17                8.0          4.375000
89         varsity jacket          1                6.0          4.166667
90                 patola          3                6.0          3.000000
91          duster jacket          3                2.0          4.000000
92                  arani          1                0.0               NaN
93                  bagru          2                0.0               NaN
94           chino shorts          1                0.0               NaN
95              chettinad          1                0.0               NaN
96            bomkai silk          1                0.0               NaN
97                divided          1                0.0               NaN
98                  kovai          2                0.0               NaN
99            pochampally          1                0.0               NaN
100               trumpet          3                0.0               NaN
101            venkatgiri          1                0.0               NaN

character

In [ ]:
import pandas as pd
import ast

# Load dataset
path = "/content/drive/MyDrive/Women's Apparel Business/Fashion Dataset With Apparel.csv"
df = pd.read_csv(path)

# If attributes are strings like "{'key': 'value', ...}", safely convert to dict
df['attributes'] = df['attributes'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

def analyze_key(df, key):
    # Extract the value for the given key from attributes dict
    df['attr_value'] = df['attributes'].apply(lambda x: x.get(key, None))

    # Group by that key's value
    result = df.groupby('attr_value').agg(
        frequency=('attr_value', 'count'),
        total_ratingCount=('ratingCount', 'sum'),
        avg_of_avgRating=('avg_rating', 'mean')
    ).reset_index()

    # Rank by total_ratingCount
    result = result.sort_values(by='total_ratingCount', ascending=False).reset_index(drop=True)

    return result

# Print all the rows, not just a range like 1,2,3,4....96,97,98,99,100
pd.set_option("display.max_rows", None)  # show all rows
pd.set_option("display.max_columns", None)  # show all columns
pd.set_option("display.width", None)  # don't wrap columns
pd.set_option("display.max_colwidth", None)  # show long strings fully


# Example usage:
result = analyze_key(df, 'character')
print(result)

          attr_value  frequency  total_ratingCount  avg_of_avgRating
0                 na       6815           532379.0          4.119709
1        donald duck          7               78.0          4.266984
2               nemo          1               68.0          4.235294
3       minnie mouse          3               66.0          4.453011
4             marvel          3               63.0          4.237399
5       mickey mouse          4               61.0          4.424110
6    powerpuff girls          5               57.0          3.879092
7            friends          1               25.0          4.360000
8             dexter          1               23.0          4.652174
9      kung fu panda          1               19.0          4.157895
10      wonder woman          2                8.0          4.375000
11      looney tunes          1                8.0          4.625000
12         lion king          1                6.0          4.333333
13              nasa          6                5.0          4.600000
14            barbie          2                3.0          4.333333
15              dora          1                2.0          3.000000
16       angry birds          3                0.0               NaN
17          avengers          1                0.0               NaN
18   disney princess          3                0.0               NaN
19          deadpool          2                0.0               NaN
20   captain america          1                0.0               NaN
21          garfield          1                0.0               NaN
22  mickey & friends          1                0.0               NaN
23   mickey & donald          1                0.0               NaN
24           minions          1                0.0               NaN
25            tweety          1                0.0               NaN

Base Dataset Creation

In [ ]:
import pandas as pd
import ast

# Load your dataset
df = pd.read_csv("/content/drive/MyDrive/Women's Apparel Business/Fashion Dataset With Apparel.csv")

# Convert stringified dictionaries into actual Python dicts
df["attributes"] = df["attributes"].apply(lambda x: ast.literal_eval(x))

# Step 1: Collect all unique keys across all rows
all_keys = set()
for d in df["attributes"]:
    all_keys.update(d.keys())

print(f"Found {len(all_keys)} unique attribute keys")

# Step 2: For each key, create a new column and fill values row-wise
for key in all_keys:
    df[key] = df["attributes"].apply(lambda x: x.get(key, None))

# âœ… Keep the original 'attributes' column for cross-checking

# Step 3: Save expanded dataset
save_path = "/content/drive/MyDrive/Women's Apparel Business/expanded_dataset.csv"
df.to_csv(save_path, index=False)

print(f"âœ… Expanded dataset saved at: {save_path}")

Found 106 unique attribute keys

/tmp/ipython-input-2486654277.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[key] = df["attributes"].apply(lambda x: x.get(key, None))
/tmp/ipython-input-2486654277.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[key] = df["attributes"].apply(lambda x: x.get(key, None))
/tmp/ipython-input-2486654277.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[key] = df["attributes"].apply(lambda x: x.get(key, None))
/tmp/ipython-input-2486654277.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[key] = df["attributes"].apply(lambda x: x.get(key, None))
/tmp/ipython-input-2486654277.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[key] = df["attributes"].apply(lambda x: x.get(key, None))
/tmp/ipython-input-2486654277.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[key] = df["attributes"].apply(lambda x: x.get(key, None))
/tmp/ipython-input-2486654277.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[key] = df["attributes"].apply(lambda x: x.get(key, None))
/tmp/ipython-input-2486654277.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[key] = df["attributes"].apply(lambda x: x.get(key, None))
/tmp/ipython-input-2486654277.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[key] = df["attributes"].apply(lambda x: x.get(key, None))
/tmp/ipython-input-2486654277.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[key] = df["attributes"].apply(lambda x: x.get(key, None))

âœ… Expanded dataset saved at: /content/drive/MyDrive/Women's Apparel Business/expanded_dataset.csv